div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cards{
    height: 300px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}

img{
    height: 300px;
    width: 200px;
    object-fit: hover;
}
.bio{
    opacity: 0;
}
img:hover{
    transform: scale(1.5);
    filter: grayscale(100%);
    transition: all 3s;
}

img:hover ~ .bio{
    position: absolute;
    bottom: 350px;
    font-size: 100px;
    color: white;
    opacity:0.9 ;
    transition: all 3s;
}